<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required #email></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="resetPass(email)" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Introduzca el email del usuario que utilizo al momento de registrarse
    </small>
  </form>
</ion-content>