<ion-header>
  <ion-toolbar>
    <ion-title>
      HumanApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrarse</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">¿Ya eres usuario?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>